*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-image:url("el nido.jpeg");
    background-size:cover;
    background-position:center;
    height:100vh;
}

.hero{
    height:100vh;
    background:rgba(0,0,0,0.40);
}

nav{  
    height:100px;  
    display:flex;  
    justify-content:space-between;  
    align-items:center;  
    padding:90px;  
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:200px;
}

.logo h2{
    color:white;
    font-size:35px;
}

.nav-links a:hover{
    color:#20d0d7;
}

.content{
    color:white;
    margin-left:80px;
    margin-top:170px;
}

.content h1{
    font-size:65px;
}

.content span{
    color:#20d0d7;
}

.content p{
    width:500px;
    font-size:20px;
    line-height:1.6;
    margin-top:20px;
}

.learn:hover{
    background:#20d0d7;
    color:black;
}