
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.section1 {
    background-image: url("el nido.jpeg");
    background-size: cover;
    background-position: center;
}


.hero {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.40);
}



.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo img {
    width: 200px;
}


.logo h2 {
    color: white;
    font-size: 35px;
}


nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
}


.nav-links a:hover {
    color: #20d0d7;
}



.index {
    color: white;
    margin-left: 80px;
    margin-top: 170px;
}


.index h1 {
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    line-height: 1.1;
}


.index span {
    color: #20d0d7;
    font-family: 'Playfair Display', serif;
}


.index p {
    width: 500px;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
}


.learn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


.learn:hover {
    background: #20d0d7;
    color: black;
    border-color: #20d0d7;
}



.tours {
    position: relative;
    z-index: 1;
    padding: 0;
}


.tours .tours-title {
    text-align: center;
    margin-bottom: 25px;
}


.tours .tours-title h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
}


.tours .tours-title p {
    color: white;
    font-size: 16px;
}


.tours .tour-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1400px;
    margin: auto;
}


.tours .tour-card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(22, 40, 63, 0.12);
    transition: 0.3s ease;
}


.tours .tour-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}


.tours .tour-info {
    padding: 20px;
}


.tours .tour-info h3 {
    color: #5fa8d3;
    font-size: 17px;
    margin-bottom: 6px;
}

.tours .tour-info button {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 8px;
    background-color: #5fa8d3;
    color: #ffffff;
    font-size: 15px;
}



.login-page {
    min-height: 50vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}


.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    text-align: center;
    color: white;
}


.login-box h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}


.login-box input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;

    border: none;
    border-radius: 5px;

    font-family: 'Poppins', sans-serif;
}


.login-box button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;

    border: none;
    border-radius: 5px;

    background: #20d0d7;
    cursor: pointer;
    font-weight: bold;
}


.login-box p {
    margin-top: 20px;
}


.login-box a {
    color: #20d0d7;
    text-decoration: none;
}


.register-page {
    min-height: 50vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}


.register-box {
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 15px;
    text-align: center;
    color: white;
}


.register-box h1 {
    margin-bottom: 0px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}


.register-box input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;

    border: none;
    border-radius: 5px;

    font-family: 'Poppins', sans-serif;
}


.register-box button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;

    border: none;
    border-radius: 5px;

    background: #20d0d7;
    cursor: pointer;
    font-weight: bold;
}


.register-box p {
    margin-top: 20px;
}


.register-box a {
    color: #20d0d7;
    text-decoration: none;
}


.learn-page {
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.learn-box p {
    margin-top: 20px;
}



.contact-page {
    min-height: 50vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}


.contact-box {
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.60);
    border-radius: 15px;
    text-align: center;
    color: white;
}


.contact-box a {
    color: #20d0d7;
    text-decoration: none;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
}


.back-btn {
    display: block;
    width: fit-content;
    margin: 25px auto 0;
    padding: 10px 25px;
    color: rgb(28, 119, 158);
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.60);
    color: white;
    font-size: 14px;
}
